body {
  font-family: Arial, sans-serif;
  background: #eaf5fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  background: rgb(251, 248, 248);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 750px;
  width: 100%;
}

.form-section {
  flex: 1;
  padding: 24px;
}

.form-section h2 {
  margin: 0 0 12px;
}

.form-section .clear {
  float: right;
  font-size: 14px;
  color: #2b7bb9;
  cursor: pointer;
}

.input-group {
  margin-bottom: 16px;
}


input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.inline {
  display: flex;
  gap: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.radio-group input {
  width: auto;
}

.btn {
  background: #e3e62d;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.result-section {
  flex: 1;
  background: #0f2537;
  color: white;
  padding: 24px;
}

.result-section h3 {
  margin-top: 0;
}

.highlight {
  font-size: 26px;
  font-weight: bold;
  color: #e3e62d;
}

.total {
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}