body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
}

.hamburger{
    margin: 20px;
    cursor: pointer;
    display: inline-block;
}

span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin: 6px 0;
    transition: all 0.3s ease;
}
/*Animation*/
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg)
    translate(6px, 6px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    transform: rotate(-45deg)
    translate(7px, -6px);
}
/*Dropdown*/
.menu{
    width: 100%;
    background-color: #1a1a1a;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    text-align: center;
}
.sub-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: white;
    margin: 0;
    padding: 0;
}
.sub-menu li a{
    color: black;
    font-size: 16px;
    padding: 10px 0;
    display: block;
    text-decoration: none;
}
.sub-menu li a:hover{
    color: white;
    transition: background-color 0.3s ease;
    font-size: 16px;
}
.menu.open{
    max-height: 200px;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    transition: color 0.3s ease;
}
.menu li{
    padding: 15px 0;
}
.menu li a:hover{
    color: blue;

  }
  .dropdown.open-sub-menu .sub-menu{
    max-height: 200px;
  }
  @media (min-width:768px) {
    .dropdown:hover .sub-menu {
        max-height: 200px;
    }
  }